#practice-name-group .form-field.custom-select {
    margin-bottom: 32px;
    width: 233px;
    padding: 13px 12px 13px 12px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #363F57;
    font-family: 'Eina02-semibold';
    height: 45px;
    position: relative;
    cursor: pointer;
    flex: 0 0 100%;
    max-width: 100%;
    background: #F3F4F43D 0% 0% no-repeat padding-box;
    border: 1px solid #EAEBEE;
    border-radius: 6px;
    opacity: 1;
}

#add-hygiene,
#add-reminders {
    display: none;
}

#practice-name-group .form-field.custom-select label.form-label {
	text-align: left;
	font-size: 13px;
	letter-spacing: 0px;
	color: #363F57;
	opacity: 0.5;
	line-height: 18px;
	position: absolute;
	left: 16px;
	top: 13px;
	font-family: "Eina02-regular", sans-serif;
	left: 16px;
	top: 12px;
}

#practice-name-group h3.selected.data {
	font-family: 'Eina02-semibold', sans-serif;
	letter-spacing: 0px;
	color: #363F57;
	opacity: 1;
	font-size: 13px;
	line-height: 18px;
	margin: 8px 0 0;
}

#practice-name-group ul#cardName {
	padding: 9px;
	background: #fff;
	position: absolute;
	z-index: 999;
	width: 100%;
	margin: 6px 0 0;
	box-shadow: 0px 16px 32px #343d5633;
	border-radius: 8px;
	display: none;
	list-style: none;
	top: 45px;
	left: 0;
}

#practice-name-group ul#cardName li {
	cursor: pointer;
	padding: 10px 8px;
	letter-spacing: 0px;
	color: #343D56;
	font-size: 12px;
	line-height: 16px;
	font-family: "Eina02-regular", sans-serif;
	border-radius: 8px;
}

#all-information {
	padding: 32px 40px 32px 48px;
	border-bottom: 1px solid #F3F4F6;
	opacity: 1;
}

#custom-engagement-group-wrapper {
	border-right: 1px solid #F3F4F6;
	opacity: 1;
}

#run-time-group h6,
#features-group-all h4,
#title-top h2 {
	margin: 0;
	letter-spacing: 0px;
	color: #031926;
	opacity: 1;
	font-size: 20px;
	line-height: 27px;
	font-family: 'Eina-Bold';
	margin-bottom: 24px;
}

div#run-timer-box {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 16px 24px #343D561A;
	border: 1px solid #343D560B;
	border-radius: 8px;
	opacity: 1;
	padding: 32px 40px 35px 40px;
	width: 327px;
}

ul#time-zone-d {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

ul#time-zone-d li {
    flex: 0 0 calc(50% - 17px);
    max-width: calc(50% - 17px);
    width: 100%;
}

ul#time-zone-d li span#start-time-zone,
ul#time-zone-d li span#end-time-zone {
	letter-spacing: 0px;
	color: #363F57;
	opacity: 0.5;
	font-size: 13px;
	line-height: 18px;
	font-family: 'Eina';
	display: block;
	margin-bottom: 8px;
}

ul#time-zone-d li span#time-display-hr,
ul#time-zone-d li span#time-display-hrs {
	letter-spacing: 0px;
	color: #363F57;
	opacity: 1;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Eina-Bold';
	display: block;
}

.ba-main {
	height: 100%;
}

.body-container {
	height: 100%;
}

#custom-engagement {
	display: flex;
}

#all-informationgroup2 {
	padding: 32px 40px 32px 48px;
}

#features-group-all ul li {
	list-style: none;
	margin-bottom: 24px;
	width: 100%;
	padding: 32px 40px 32px 40px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 16px 24px #343D561A;
	border: 1px solid #343D560B;
	border-radius: 8px;
	letter-spacing: 0px;
	color: #031926;
	opacity: 1;
	font-size: 20px;
	line-height: 27px;
	font-family: 'Eina-Bold';
	display: block;
	cursor: pointer;
}

#features-group-all ul {
	list-style: none;
}

#confirmations-details {
    padding: 30px 40px 40px 40px;
    margin-top: 82px;
}

#title-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
	align-items: center;
}

#hygiene-fill-up,
#reminders-fill-up,
#confirmation-fill-up {
	width: 394px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 16px 24px #343D561A;
	border: 1px solid #343D560B;
	border-radius: 8px;
	opacity: 1;
	padding: 0 16px;
	padding: 8px 16px;
	min-height: 623px;
    padding-right: 8px;
}

#title-top a {
	letter-spacing: 0px;
	color: #0ACADC;
	opacity: 1;
	font-size: 13px;
	line-height: 28px;
	font-family: 'Eina-SemiBold';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
}

#title-top h2 {
	margin-bottom: 0 !important;
}

p.inner-content-sub-head {
	margin: 0;
	letter-spacing: 0px;
	color: #363F57;
	opacity: 1;
	font-size: 13px;
	line-height: 18px;
	font-family: 'Eina';
}

h4.inner-content-head {
	letter-spacing: 0px;
	color: #031926;
	opacity: 1;
	margin: 0;
	margin-top: 2px;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Eina-SemiBold';
	margin-bottom: 16px;
}

a.inner-content-link {
	display: inline-block;
	letter-spacing: 0px;
	color: #363F57;
	opacity: 0.5;
	font-size: 13px;
	line-height: 18px;
	font-family: 'Eina';
}

.inner-content {
	border-radius: 30px;
	cursor: pointer;
	padding: 24px;
	min-height: 142px;
    transition: all 0.5s;
    position: relative;
}

.inner-content:after {
    border-bottom: 1px solid #F3F4F6;
    content: "";
    position: absolute;
    bottom: 0;
    width: 86%;
    left: 25px;
    right: 0;
}

.inner-content:hover {
	background: rgb(243 244 246 / 50%) 0% 0% no-repeat padding-box;
}

.inner-content-text {
	display: inline-block;
	letter-spacing: 0px;
	color: #363F57;
	opacity: 1;
	font-size: 13px;
	line-height: 18px;
	font-family: 'Eina';
}

div#frequency-hours-group2 {
    display: none;
}

.frequency-hours-group .form-field:after,
.days-hours-group2 .form-field:after,
.frequency-days-group2 .form-field:after,
.frequency-hours-group2 .form-field:after,
.emails-text-group2 .form-field:after,
.appointment-status-group .form-field:after,
.frequency-weeks-group .form-field:after,
.frequency-months-group .form-field:after,
.weeks-months-group .form-field:after,
.emails-text-group .form-field:after,
.days-hours-group .form-field:after,
.frequency-days-group .form-field:after,
#practice-name-group .form-field.custom-select:after {
    content: "";
    position: absolute;
    background-image: url(../assets/icons/common/chevron-down.svg);
    padding: 0;
    right: 16.5px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform-origin: center;
    transform-origin: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px;
    height: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#title-top a .title {
    color: #0ACADC;
    opacity: 1;
    font-size: 13px;
    line-height: 28px;
    font-family: 'Eina-SemiBold';
}

#time-button #save-timebb {
    display: flex;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Eina-SemiBold';
    text-align: center;
    min-height: 45px;
    justify-content: center;
    align-items: center;
    background: #03C6D8 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    letter-spacing: 0px;
    color: #FFFFFF;
    cursor: pointer;
    display:none;
    padding-top: 11px;
}
#time-button #change-timebb{
    display: flex;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Eina-SemiBold';
    text-align: center;
    min-height: 45px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0px;
    color: #031926;
    cursor: pointer;
    border: 1px solid #343D56;
    border-radius: 8px;
}

#time-button #save-timebb:hover {
    background-color: #03D0E3;
}

#time-button {
    margin-top: 32px;
}

.popup-1-module-group {
    padding: 32px 40px 35px 40px;
    position: relative;
}

.popup-header h1 {
    margin: 0;
    letter-spacing: 0px;
    color: #031926;
    opacity: 1;
    font-size: 20px;
    line-height: 27px;
    font-family: 'Eina-Bold';
}

.popup-header {
    margin-bottom: 32px;
}

.popup-header-droupdown,
.hygiene-droupdown-group,
.confirmation-droupdown-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 24px;
}

.confirmation-droupdown-group > div {
    width: 158px;
}

.days-hours-group2 > div,
.frequency-dayshours-group2 > div,
.emails-text-group2 > div,
.appointment-status-group > div,
.hygiene-droupdown-group > div {
    width: 255px;
}

.frequency-dayshours-group .frequency-hours-group {
    display: none;
}

.days-hours-group2 .form-field,
.frequency-days-group2 .form-field,
.frequency-hours-group2 .form-field,
.emails-text-group2 .form-field,
.appointment-status-group .form-field,
.frequency-weeks-group .form-field,
.frequency-months-group .form-field,
.weeks-months-group .form-field,
.emails-text-group .form-field,
.frequency-hours-group .form-field,
.frequency-days-group .form-field,
.days-hours-group .form-field {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 0px;
    width: 233px;
    padding: 13px 12px 13px 12px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #363F57;
    font-family: 'Eina02-semibold';
    height: 45px;
    position: relative;
    cursor: pointer;
    flex: 0 0 100%;
    max-width: 100%;
    background: #F3F4F43D 0% 0% no-repeat padding-box;
    border: 1px solid #EAEBEE;
    border-radius: 6px;
    opacity: 1;
}

.days-hours-group2 .form-field label,
.frequency-days-group2 .form-field label,
.frequency-hours-group2 .form-field label,
.emails-text-group2 .form-field label,
.appointment-status-group .form-field label,
.frequency-weeks-group .form-field label,
.frequency-months-group .form-field label,
.weeks-months-group .form-field label,
.emails-text-group .form-field label,
.frequency-hours-group .form-field label,
.frequency-days-group .form-field label,
.days-hours-group .form-field label {
    text-align: left;
    font-size: 13px;
    letter-spacing: 0px;
    color: #363F57;
    opacity: 0.5;
    line-height: 18px;
    position: absolute;
    left: 12px;
    top: 13px;
    font-family: "Eina02-regular", sans-serif;
}

.weeks-months-group.filled .form-field label,
.frequency-months-group.filled .form-field label,
.frequency-weeks-group.filled .form-field label,
.frequency-days-group.filled .form-field label,
.confirmation-droupdown-group > div.filled .form-field label {
    font-size: 11px;
    line-height: 15px;
    color: #363F57;
    opacity: 0.5;
    top: 6px;
    left: 12px;
}

.filled .form-field label {
    font-size: 11px !important;
    line-height: 15px !important;
    color: #363F57 !important;
    opacity: 0.5 !important;
    top: 6px !important;
    left: 12px !important;
}

.days-hours-group2 .custom-input h3.selected.data,
.frequency-days-group2 .custom-input h3.selected.data,
.frequency-hours-group2 .custom-input h3.selected.data,
.emails-text-group2 .custom-input h3.selected.data,
.appointment-status-group .custom-input h3.selected.data,
.frequency-weeks-group .custom-input h3.selected.data,
.frequency-months-group .custom-input h3.selected.data,
.weeks-months-group .custom-input h3.selected.data,
.emails-text-group .custom-input h3.selected.data,
.frequency-hours-group .custom-input h3.selected.data,
.frequency-days-group .custom-input h3.selected.data,
.days-hours-group .custom-input h3.selected.data {
    font-family: 'Eina02-semibold', sans-serif;
    letter-spacing: 0px;
    color: #363F57;
    opacity: 1;
    font-size: 13px;
    line-height: 18px;
    margin: 8px 0 0;
}

.custom-input.dropdown-field ul {
    padding: 9px;
    background: #fff;
    position: absolute;
    z-index: 999;
    width: 100%;
    margin: 6px 0 0;
    box-shadow: 0px 16px 32px #343d5633;
    border-radius: 8px;
    display: none;
    list-style: none;
    top: 45px;
    left: 0;
}

.days-hours-group2 .form-field ul#days-hours2 li,
.frequency-days-group2 .form-field ul#days2 li,
.frequency-hours-group2 .form-field ul#hours-2 li,
.emails-text-group2 .form-field #emails2-text li,
.appointment-status-group .form-field #appointment li,
.frequency-weeks-group .form-field ul#weeks li,
.frequency-months-group .form-field #months2 li,
.weeks-months-group .form-field ul#weeks-months li,
.emails-text-group .form-field ul#email-text li,
.frequency-hours-group .form-field ul#hours-1 li,
.frequency-days-group .form-field ul#days li,
.days-hours-group .form-field ul#days-hours li {
    cursor: pointer;
    padding: 10px 8px;
    letter-spacing: 0px;
    color: #343D56;
    font-size: 12px;
    line-height: 16px;
    font-family: "Eina02-regular", sans-serif;
    border-radius: 8px;
    transition: all 0.5s;
}

.days-hours-group2 .form-field ul#days-hours2 li:hover,
.frequency-days-group2 .form-field ul#days2 li:hover,
.frequency-hours-group2 .form-field ul#hours-2 li:hover,
.emails-text-group2 .form-field #emails2-text li:hover,
.appointment-status-group .form-field #appointment li:hover,
.frequency-weeks-group .form-field ul#weeks li:hover,
.frequency-months-group .form-field #months2 li:hover,
.weeks-months-group .form-field ul#weeks-months li:hover,
.emails-text-group .form-field ul#email-text li:hover,
.frequency-hours-group .form-field ul#hours-1 li:hover,
.frequency-days-group .form-field ul#days li:hover,
#practice-name-group ul#cardName li:hover,
.days-hours-group .form-field ul#days-hours li:hover {
    background: rgb(243 244 246 / 50%) 0% 0% no-repeat padding-box;
}

.frequency-days-group .form-field ul#days {
    max-height: 250px;
    overflow-y: auto;
}

#confirmation-insert-variable .form-field {
        margin-bottom: 0px;
    min-width: 178px;
    padding: 11px 30px 11px 24px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #363F57;
    font-family: 'Eina02-semibold';
    height: 40px;
    position: relative;
    cursor: pointer;
    flex: 0 0 100%;
    max-width: 100%;
    background: #F3F4F43D 0% 0% no-repeat padding-box;
    opacity: 1;
    border: 1px solid #343D56;
    border-radius: 16px;
    width: auto;
}

#confirmation-insert-variable .form-field label {
    text-align: left;
    font-size: 13px;
    line-height: 18px;
    position: absolute;
    font-family: 'Eina-SemiBold';
    left: 24px;
    top: 11px;
    letter-spacing: 0px;
    color: #031926;
    opacity: 1;
}

#confirmation-insert-variable .form-field h3 {
    font-family: 'Eina02-semibold', sans-serif;
    letter-spacing: 0px;
    color: #363F57;
    opacity: 1;
    font-size: 13px;
    line-height: 18px;
    margin: 8px 0 0;
}

#confirmation-insert-variable .form-field ul#insert-variable {
    padding: 9px;
    background: #fff;
    position: absolute;
    z-index: 999;
    width: 100%;
    margin: 6px 0 0;
    box-shadow: 0px 16px 32px #343d5633;
    border-radius: 8px;
    display: none;
    list-style: none;
    top: 45px;
    left: 0;
}

#confirmation-insert-variable .form-field ul#insert-variable li {
    cursor: pointer;
    padding: 10px 8px;
    letter-spacing: 0px;
    color: #343D56;
    font-size: 12px;
    line-height: 16px;
    font-family: "Eina02-regular", sans-serif;
    border-radius: 8px;
    transition: all 0.5s;
}

#confirmation-insert-variable .form-field ul#insert-variable li:hover {
    background: rgb(243 244 246 / 50%) 0% 0% no-repeat padding-box;
}

#confirmation-insert-variable .form-field:after {
    content: "";
    position: absolute;
    background-image: url(../assets/icons/common/chevron-down.svg);
    padding: 0;
    right: 16.5px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform-origin: center;
    transform-origin: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px;
    height: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.insert-variable-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.popup-insert-variable {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
}

.popup-insert-variable .form-field {
    margin-bottom: 0px;
    min-width: 178px;
    padding: 11px 30px 11px 24px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #363F57;
    font-family: 'Eina02-semibold';
    height: 40px;
    position: relative;
    cursor: pointer;
    flex: 0 0 100%;
    max-width: 100%;
    background: #F3F4F43D 0% 0% no-repeat padding-box;
    opacity: 1;
    border: 1px solid #343D56;
    border-radius: 16px;
    width: auto;
}

.popup-insert-variable .form-field label {
    text-align: left;
    font-size: 13px;
    line-height: 18px;
    position: absolute;
    font-family: 'Eina-SemiBold';
    left: 24px;
    top: 11px;
    letter-spacing: 0px;
    color: #031926;
    opacity: 1;
}

.popup-insert-variable .form-field h3 {
    font-family: 'Eina02-semibold', sans-serif;
    letter-spacing: 0px;
    color: #363F57;
    opacity: 1;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}

.popup-insert-variable .form-field ul#insert-variable {
    padding: 9px;
    background: #fff;
    position: absolute;
    z-index: 999;
    width: 100%;
    margin: 6px 0 0;
    box-shadow: 0px 16px 32px #343d5633;
    border-radius: 8px;
    display: none;
    list-style: none;
    top: 45px;
    left: 0;
}

.popup-insert-variable .form-field ul#insert-variable li {
    cursor: pointer;
    padding: 10px 8px;
    letter-spacing: 0px;
    color: #343D56;
    font-size: 12px;
    line-height: 16px;
    font-family: "Eina02-regular", sans-serif;
    border-radius: 8px;
    transition: all 0.5s;
}

.popup-insert-variable .form-field ul#insert-variable li:hover {
    background: rgb(243 244 246 / 50%) 0% 0% no-repeat padding-box;
}

.popup-insert-variable .form-field:after {
    content: "";
    position: absolute;
    background-image: url(../assets/icons/common/chevron-down.svg);
    padding: 0;
    right: 16.5px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform-origin: center;
    transform-origin: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px;
    height: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.group.group-4 {
}

#insert-variable-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.popup-form-textarea {
    margin-bottom: 32px;
}

.textarea-group .form-field {
    margin-bottom: 0px;
    width: 100%;
    padding: 13px 16px 13px 16px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #363F57;
    font-family: 'Eina02-semibold';
    height: 45px;
    position: relative;
    cursor: pointer;
    flex: 0 0 100%;
    max-width: 100%;
    background: #F3F4F43D 0% 0% no-repeat padding-box;
    border: 1px solid #EAEBEE;
    border-radius: 6px;
    opacity: 1;
    min-height: 155px;
}

.textarea-group .form-field .form-control.select {
    background-color: transparent;
    border: none;
    min-height: 107px;
    padding: 0;
    width: 100%;
    height: auto;
}

.textarea-group .form-field label {
    text-align: left;
    font-size: 13px;
    letter-spacing: 0px;
    color: #363F57;
    opacity: 0.5;
    line-height: 18px;
    position: absolute;
    left: 16px;
    top: 13px;
    font-family: "Eina02-regular", sans-serif;
    left: 16px;
    top: 12px;
}

.form-button .cancel {
    border: 1px solid #343D56;
    border-radius: 8px;
    padding: 11px 31px 12px 31px;
    letter-spacing: 0px;
    color: #031926;
    opacity: 1;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Eina-SemiBold';
    display: inline-block;
    margin-right: 13px;
    transition: all .5s;
}

.form-button .btn-blue {
    background: #03C6D8 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    padding: 12px 32px 13px 32px;
    display: inline-block;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Eina-SemiBold';
    transition: all .5s;
}

.form-button .cancel:hover{
background-color: #343D560D;
}

.form-button .btn-blue:hover {
    background-color: #03D0E3;
}

#practice-name-group .form-field.custom-select.custom-filled label.form-label {
    top: 6px;
    left: 12px;
    font-size: 11px;
    line-height: 15px;
}

#practice-name-group .form-field.custom-select.active.custom-filled{
    border: 2px solid #0ACADC;
}

.frequency-days-group .form-field.custom-select.active:after,
#practice-name-group .form-field.custom-select.active.custom-filled:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -3px;
}

span.error {
    margin-top: 37px !important;
    margin-left: -14px;
}

.form-field.custom-select.show-error {
    background: #FF75961A !important;
    border: 2px solid #FF7596 !important;
    margin-bottom: 42px !important;
}

.days-hours-group .form-field.custom-select.active.custom-filled:after,
#practice-name-group .form-field.custom-select.active.custom-filled:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -3px;
}

.frequency-hours-group .form-field.show-error,
.frequency-days-group .form-field.show-error,
.days-hours-group .form-field.show-error {
    margin-bottom: 10px !important;
}


#add-confirmation {
    display: none;
}

#features-group-all ul li.current {
    border: 2px solid #0ACADC;
    opacity: 1;
}

#add-confirmation.current,
#add-hygiene.current,
#add-reminders.current {
    display: block;
}

.form-field.custom-select.show-error label.form-label {
    color: #FF7596;
    opacity: 1;
}
#insert-variable-group > .active #insert-variable {
    display: block !important;
}

#confirmation-insert-variable .form-field h3 {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    font-family: 'Eina-SemiBold';
    letter-spacing: 0px;
    color: #031926;
}

#insert-variable-group > .active .form-field:after {
    -webkit-transform: rotate(
180deg
);
    transform: rotate(
180deg
);
    margin-top: -3px;
}

textarea {
    resize: none;
  }

  .form-button .loader {
    right: 10px;
}

.form-field.custom-select.custom-filled.active {
    border: 2px solid #0ACADC;
}

#text-area-group .form-field:focus {
    border: 2px solid #0ACADC;
    outline: none;
}

.ba-main .top-gutter .ba-input-wrapper.ba-multiselect {
    height: 36px;
    min-width: 233px;
    outline: none;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #eaebee;
    border-radius: 4px;
    display: block;
    border-radius: 6px !important;
    margin-left: 25px !important;
}

.ba-main .top-gutter .ba-input-wrapper.ba-multiselect .ba-input-field span {
    letter-spacing: 0px;
    color: #343D56;
    opacity: 1;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Eina-Bold';
}




.time-slider input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #F3F4F43D;
    border: 1px solid #EAEBEE;
    border-radius: 4px;
  }
  .time-slider input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: -5px;
    background-color: #03C6D8 !important;
  }
  .time-slider input[type=range]::-ms-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: -6px;
    background-color: #03C6D8 !important;
  }
  .time-slider input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: -6px;
    background-color: #03C6D8 !important;
  }
  .time-slider input[type=range]:focus::-webkit-slider-runnable-track {
    background: #F3F4F43D;
    border: 1px solid #EAEBEE;
  }

  .time-slider input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #F3F4F43D;
    border: 1px solid #EAEBEE;
    border-radius: 4px;
  }
  .time-slider input[type=range] {
      margin-top: 14px;
  }

  .ba-main .top-gutter {
    background-color: rgb(243 244 246 / 50%);
    padding: 22px 48px;
}

#custom-engagement-group-wrapper {
    margin-top: 80px;
}

.ba-caption {
    font-size: 12px;
    font-family: "Eina-Bold";
    line-height: 16px;
    color: #363f5780;
}

ul#time-zone-d li span#time-display-hr #amount,
ul#time-zone-d li span#time-display-hr #amount span,
ul#time-zone-d li span#time-display-hrs #amount1,
ul#time-zone-d li span#time-display-hrs #amount1 span {
    letter-spacing: 0px;
    color: #363F57;
    opacity: 1;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Eina-Bold';
    display: inline-block;
}

.time-slider {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: transparent !important;
}


#features-group-all ul li span.right-arrow {
    position: absolute;
    background-image: url(../assets/icons/right-arrow.svg);
    width: 9.23px;
    height: 14.3px;
    display: block;
    right: 25px;
    top: 38.35px;
}

#features-group-all ul li {
    position: relative;
}

#title-top a .icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 6px;
}

#title-top a .icon img {
    vertical-align: top;
}


/* Radio Button styling

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  */

  .reminders-fill-content,
  .hygiene-fill-content,
  .confirmation-fill-content {
    overflow-y: auto;
    max-height: 604px;
    padding-right: 1px;
}

#hygiene-conten .inner-content {
    min-height: unset;
}

#hygiene-conten .inner-content#inner-content-1 h4.inner-content-head,
#hygiene-conten .inner-content#inner-content-2 h4.inner-content-head,
#hygiene-conten .inner-content#inner-content-3 h4.inner-content-head {
    margin-bottom: 0;
}

div#frequency-weeks-group {
    display: none;
}

.textarea-group .form-field .form-control.select {
    font-size: 13px;
    line-height: 18px;
    font-family: 'Eina';
    text-align: left;
    color: #363F57;
    overflow: hidden;
}

div#frequency-weeks-group4 {
    display: none;
}

div#frequency-days-group25 {
    display: none;
}

.top-gutter .ba-input-wrapper .ba-input-field h3.selected.data {
    letter-spacing: 0px;
color: #343D56;
opacity: 1;
font-size: 12px;
line-height: 16px;
margin: 0;
font-family: 'Eina-Bold';
}

.engagement-dashboard .ba-input-wrapper .ba-input-field {
    overflow: visible;
}

#time-button #change-timebb:hover {
    background-color: #343D560D;
}

.inner-content-text .moreless.more {
    letter-spacing: 0px;
    color: #363F57;
    opacity: 0.5;
    font-size: 13px;
    line-height: 18px;
    font-family: 'Eina';
}

.inner-content-text a.moreless.less {
    display: none !important;
}

.weeks-months-group.active .form-field,
.frequency-months-group.active .form-field,
.frequency-weeks-group.active .form-field,
.frequency-hours-group.active .form-field,
.frequency-days-group.active .form-field,
.confirmation-droupdown-group > div.active .form-field {
    border: 2px solid #0ACADC;
}

div.active .form-field {
    border: 2px solid #0ACADC !important;
}

#reminder-insert-variable .insert-variable-group.active .form-field:after,
#Hygiene-insert-variable .insert-variable-group.active .form-field:after,
#confirmation-insert-variable .insert-variable-group.active .form-field:after,
.popup-header-droupdown .active .form-field:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -3px;
}

.frequency-dayshours-group.showHoursOption div#frequency-days-group3,
.frequency-dayshours-group.showHoursOption div#frequency-days-group {
    display: none;
}

.frequency-dayshours-group.showHoursOption div#frequency-hours-group4,
.frequency-dayshours-group.showHoursOption div#frequency-hours-group {
    display: block;
}

#frequency-hours-group ul#hours-1 {
    height: 250px;
    overflow-y: auto;
}

.engagement-dashboard .ba-input-wrapper .ba-input-field {
    position: static;
}

.ba-main .top-gutter .ba-input-wrapper.ba-multiselect {
    position: relative;
}

.engagement-dashboard .ba-input-wrapper .ba-input-field .custom-input.dropdown-field ul {
    top: 36px;
    padding: 9px;
    background: #fff;
    position: absolute;
    z-index: 999;
    width: 100%;
    margin: 6px 0 0;
    box-shadow: 0px 16px 32px #343d5633;
    border-radius: 8px;
}

.engagement-dashboard .custom-input.dropdown-field ul li {
    cursor: pointer;
    padding: 10px 8px;
    letter-spacing: 0px;
    color: #343D56;
    font-size: 12px;
    line-height: 16px;
    font-family: "Eina02-regular", sans-serif;
    border-radius: 8px;
    transition: all 0.5s;
}

.engagement-dashboard .ba-input-wrapper .ba-input-field .custom-input.dropdown-field ul li:hover {
    background: rgb(243 244 246 / 50%) 0% 0% no-repeat padding-box;
}

.popup-form-textarea textarea::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
    font-size: 13px;
    letter-spacing: 0px;
    color: #363F57;
    opacity: 0.5;
    line-height: 18px;
    font-family: "Eina02-regular", sans-serif;
}

.popup-form-textarea textarea::-moz-placeholder {
	/* Firefox 19+ */
    font-size: 13px;
    letter-spacing: 0px;
    color: #363F57;
    opacity: 0.5;
    line-height: 18px;
    font-family: "Eina02-regular", sans-serif;
}

.popup-form-textarea textarea:-ms-input-placeholder {
	/* IE 10+ */
    font-size: 13px;
    letter-spacing: 0px;
    color: #363F57;
    opacity: 0.5;
    line-height: 18px;
    font-family: "Eina02-regular", sans-serif;
}

.popup-form-textarea textarea:-moz-placeholder {
	/* Firefox 18- */
    font-size: 13px;
    letter-spacing: 0px;
    color: #363F57;
    opacity: 0.5;
    line-height: 18px;
    font-family: "Eina02-regular", sans-serif;
}

#add-rem-popup5 .form-button .loader,
#add-hyg-popup4 .form-button .loader,
#add-conf-popup2 .form-button .loader {
    right: 0;
    top: 10px;
}
#dental-drop {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EAEBEE;
    border-radius: 6px;
    max-width: 233px;
    margin-left: 25px;
    position: relative;
}

#dental-drop h3.selected.data {
    padding: 10px 12px;
    letter-spacing: 0px;
    color: #343D56;
    font-size: 12px;
    opacity: 1;
    line-height: 14px;
    font-family: 'Eina-Bold';
    margin: 0 !important;
    position: relative;
    cursor: pointer;
}

#dental-drop h3.selected.data:after {
    content: "";
    position: absolute;
    background-image: url(../assets/icons/common/chevron-down.svg);
    padding: 0;
    right: 16.5px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform-origin: center;
    transform-origin: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px;
    height: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.time-slider {
    display: none;
}

#reminder-insert-variable .insert-variable-group.active .form-field,
#Hygiene-insert-variable .insert-variable-group.active .form-field,
#confirmation-insert-variable .insert-variable-group.active .form-field,
#dental-drop.active {
    border: 2px solid #0ACADC;
}
#dental-drop.active h3.selected.data::after {
    transform: rotate(180deg);
    margin-top: -3px;
}
.inner-content:before {
    content: "";
    display: block;
    width: 40px;
    height: 20px;
    position: absolute;
    top: 24px;
    right: 24px;
    left: auto;
    cursor: pointer;
    background-image: url('../assets/icons/toggleOff.svg');
}
.inner-content.active:before {
    background-image: url('../assets/icons/toggleOn.svg');
}

.time-slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: -7px;
    background-color: #03C6D8 !important;
}

.time-slider input#discount_credits {}
.time-slider input[type=range] {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
.time-slider input[type=range]:focus {
  outline: none;
}
.time-slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: #F3F4F43D 0% 0% no-repeat padding-box;
  border: 1px solid #EAEBEE;
  border-radius: 4px;
  opacity: 1;
}


.ba-topnav, .ba-main .top-gutter {
    -webkit-transition: left 0.2s ease;
    transition: left 0.2s ease;
}

.frequency-dayshours-group2.showHoursOption div#frequency-hours-group2 {
    display: block;
}

.frequency-dayshours-group2.showHoursOption div#frequency-days-group2 {
    display: none;
}

.frequency-dayshours-group2.showDaysOption div#frequency-hours-group25 {
    display: none;
}

.frequency-dayshours-group2.showDaysOption div#frequency-days-group25 {
    display: block;
}

#confirmation-droupdown-popup2 .group.group-4, 
#confirmation-droupdown-popup2 .group.group-2, 
#confirmation-droupdown-popup2 .group.group-3, 
#confirmation-droupdown-popup2 .group.group-1 {
    width: auto;
}

.frequency-weeksmonths-group.showWeeksOption div#frequency-months-group4,
.frequency-weeksmonths-group.showWeeksOption div#frequency-months-group {
    display: none;
}

.frequency-weeksmonths-group.showWeeksOption div#frequency-weeks-group4,
.frequency-weeksmonths-group.showWeeksOption div#frequency-weeks-group {
    display: block;
}
