/*   ======================  Practice Page PopUp Styling  ======================   */

.edit-practice .profile-name .profile-name-id span {
	letter-spacing: 0px;
	color: #363F57;
	opacity: 1;
	font-size: 13px;
	line-height: 18px;
	font-family: 'Eina';
}

.tabber-wrap.blog-tabber ul {
	list-style: none;
	padding: 0;
}

.edit-practice .profile-group {
	margin-bottom: 24px;
}

.tabber-wrap.blog-tabber ul li {
	list-style: none;
	display: inline-block;
}

.tabber-wrap.blog-tabber > ul li a {
	font-size: 12px;
	line-height: 16px;
	font-family: 'Eina-SemiBold';
	color: #363F57;
	opacity: 0.5;
	padding: 5px 16px 7px 16px;
	border-radius: 10px;
	display: inline-block;
}

.tabber-wrap.blog-tabber > ul li.active a {
	background: #0ACADC 0% 0% no-repeat padding-box;
	opacity: 1;
	letter-spacing: 0px;
	color: #FFFFFF;
}

.tabber-content {
	margin-top: 24px;
	border-top: 1px solid #EAEBEE;
	padding-top: 24px;
}

.tabber-wrap.blog-tabber .gernal-profile {
	padding: 0;
}

.tabber-wrap.blog-tabber div#tab-0 .feild-2.feild .form-field {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.tabber-wrap.blog-tabber div#tab-0 .feild-3.feild .form-field {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc(32.23% - 17px);
	flex: 0 0 calc(32.23% - 17px);
	max-width: calc(32.23% - 17px);
}

.practice-page .practices-page-content .search-bar {
	display: none;
}

.online-payment-option p {
	margin: 0;
	letter-spacing: 0px;
	color: #363F57;
	opacity: 0.5;
	font-size: 11px;
	line-height: 15px;
	font-family: 'Eina';
	margin-bottom: 5px;
}

span.inactive {
	background: #DC0A5233 0% 0% no-repeat padding-box;
	border-radius: 6px;
	opacity: 1;
	padding: 8px 15px 9px 12px;
	margin-right: 10px;
	letter-spacing: 0px;
	color: #DC0A52;
	opacity: 1;
	font-size: 13px;
	line-height: 18px;
	font-weight: 600;
	font-family: 'Eina-SemiBold';
}

.inactive-button span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.inactive-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.online-payment-option {
	margin-bottom: 24px;
}

span.inactive img {
	margin-right: 6px;
}

.inactive-button span.activate {
	letter-spacing: 0px;
	color: #03C6D8;
	opacity: 1;
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
	font-family: 'Eina-SemiBold';
}

.edit-profile.edit-practice .edit-profile-drowpdown>ul>li>ul {
	height: 89px;
}

.users-page-content.practices-page-content .table-wrapper tbody tr td:last-child {
	padding-right: 42px;
}

.practices-page-content table.ba-table-widget tbody tr td:last-child:after {
	right: 42px;
}

.users-page-content.practices-page-content .table-wrapper table#dtBasicExample>thead>tr>th:last-child {
	padding-right: 42px !important;
}

.form-field .form-option-wrapper h4 {
	margin: 0;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	border: 1px solid #EAEBEE;
	border-radius: 6px !important;
	opacity: 1;
	width: 100%;
	padding: 21px 12px 6px 12px;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0px;
	color: #363F57;
	font-family: 'Eina-SemiBold';
	height: 45px;
	background: transparent;
	position: relative;
	background-color: #F3F4F43D;
    cursor: pointer;
}

.form-field .form-option-wrapper .form-custom-dropdown {
	position: absolute;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 16px 32px #343D5633;
	border-radius: 8px;
	opacity: 1;
	width: 100%;
	z-index: 99;
	top: 51px;
	padding: 8px 8px;
	display: none;
}

.form-field .form-option-wrapper {
	position: relative;
}

.form-field .form-option-wrapper .form-custom-dropdown ul li {
	display: block;
	padding: 10px 8px;
	letter-spacing: 0px;
	color: #343D56;
	opacity: 1;
	font-size: 12px;
	line-height: 16px;
	cursor: pointer;
	border-radius: 8px;
	transition: all .5s;
}

.form-field .form-option-wrapper .form-custom-dropdown ul li:hover {
	background: rgb(243 244 246 / 50%) 0% 0% no-repeat padding-box;
}

.inactive-button span.activate img {
	margin-left: 8px;
}

.form-field .form-option-wrapper h4:after {
	background-repeat: no-repeat;
	-webkit-appearance: none;
	background-image: url(../assets/icons/arrow.svg);
	background-size: cover;
	transition: all .5s;
	display: block;
	content: "";
	height: 5px;
	width: 8px;
	right: 16px;
	top: 20px;
	position: absolute;
}

.form-field .form-option-wrapper h4 {
	position: relative;
}

.form-field .form-option-wrapper h4.active {
	border: 2px solid #0ACADC;
}

.form-field .form-option-wrapper h4.active:after {
	background-image: url(../assets/img/dropdown-arrow-top.svg);
}

.tabber-wrap.blog-tabber .technical-information-group.active-technical {
	display: none;
}

.active-button {
	font-size: 13px;
	line-height: 18px;
}

.active-button .active {
	background: #0ADC8F33 0% 0% no-repeat padding-box;
	border-radius: 6px;
	opacity: 1;
	padding: 8px 26px 9px 12px;
	display: flex;
	letter-spacing: 0px;
	color: #0ADC8F;
	font-size: 13px;
	line-height: 18px;
	font-family: 'Eina-SemiBold';
	height: 35px;
	max-width: 100px;
	justify-content: center;
}

.active-button .active img {
	margin-right: 6px;
	height: 18px;
	width: 18px;
	display: inline-block;
}

.active-technical .online-payment-option p {
	opacity: 1;
	color: #363f5780;
}

.online-payment-option p img {
	margin-left: 10px;
}

.form-field .form-option-wrapper h4 img {
	height: 18px;
	width: 18px;
	margin-right: 8px;
}

.form-field .form-option-wrapper .form-custom-dropdown ul li img {
	margin-right: 8px;
}


/* Color Panel css */

.sp-picker-container {
	border: none !important;
	width: 255px !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.sp-container {
	border: none !important;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 16px 32px #343D5633;
	border-radius: 8px;
	opacity: 1;
	overflow: visible !important;
}

.custom-input {
	width: 100%;
}

.sp-replacer {
	width: 100%;
	background: transparent !important;
	border: none !important;
	padding: 0 !important;
	height: 45px;
	border: 1px solid #EAEBEE !important;
	border-radius: 6px !important;
	position: relative;
	top: 0px !important;
	background-color: #F3F4F43D !important;
}

.sp-replacer .sp-dd {
	display: none !important;
}

.sp-replacer .sp-preview {
	float: right !important;
	border: none !important;
	border-radius: 2px !important;
	opacity: 1;
	width: 20px !important;
	top: 11px !important;
	right: 40px;
}

.sp-replacer .sp-preview .sp-preview-inner {
	top: 0px;
	border-radius: 2px !important;
}

.sp-top-inner .sp-hue {
	width: 10px !important;
	border: none !important;
	border-radius: 8px !important;
	left: 90%;
}

.sp-top-inner .sp-hue .sp-slider {
	height: 10px;
	border-radius: 15px;
	width: 10px;
	left: -2px;
	border: 2px solid #fff;
	background: transparent;
}

.sp-top-inner .sp-color {
	border: none !important;
	border-radius: 4px !important;
}

.sp-dragger {
	border: 2px solid #fff;
	background: transparent !important;
	height: 15px;
	width: 15px;
	border-radius: 15px !important;
}

.sp-picker-container .sp-button-container.sp-cf {
	display: none !important;
}

span#basic-log {
	position: absolute;
	letter-spacing: 0px;
	color: #363F57;
	opacity: 1;
	font-size: 13px;
	top: 23px;
	line-height: 18px;
	font-family: 'Eina-SemiBold';
	left: 12px;
}
.custom-input h3.form-control {
    cursor: pointer;
}
.option-wrapper.dropup .custom-dropdown.dropdown-menu {
    top: auto !important;
}
input.basiclog {
    border: none !important;
    position: absolute;
    bottom: 0;
    letter-spacing: 0px;
    color: #363F57;
    opacity: 1;
    font-size: 13px;
    top: 18px;
    line-height: 18px;
    font-family: 'Eina-SemiBold';
    left: 12px;
    z-index: 99;
    background: transparent;
}

input.basiclog:focus {
    background: transparent;
}

.sp-replacer.sp-active {
	border: 2px solid #0ACADC !important;
}

.sp-replacer {
    position: relative;
}

.sp-replacer:after {
    background-repeat: no-repeat;
    -webkit-appearance: none;
    background-image: url(../assets/icons/arrow.svg);
    background-size: cover;
    transition: all .5s;
    display: block;
    content: "";
    height: 5px;
    width: 8px;
    right: 16px;
    top: 20px;
    position: absolute;
}

.sp-replacer.sp-active:after {
background-image: url(../assets/img/dropdown-arrow-top.svg);
}


/* Color panel css End */

.filters-colum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.filters-colum .addpractices-button {
    margin-right: 0;
}

.filters-colum .addpractices-button button.btn.btn-primary {
    border-radius: 8px;
    opacity: 1;
    min-width: 125px;
    background: #03C6D8 0% 0% no-repeat padding-box;
    border: 0;
    padding: 11px 32px 14px 32px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    font-weight: 600;
    font-family: 'Eina-SemiBold';
    transition: all 0.5s;
}

.filters-colum .addpractices-button button.btn.btn-primary:hover {
    background-color: #03D0E3;
}

/* =========================  ADD PRACTICE POPUP STYLING ======================= */

div#add-practice-popup .feild-2.feild .form-field {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

div#add-practice-popup .feild-3.feild .form-field {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(32.23% - 17px);
    flex: 0 0 calc(32.23% - 17px);
    max-width: calc(32.23% - 17px);
}

div#add-practice-popup .form-button {
    margin-top: 8px;
}

div#add-practice-popup .form-button a.for-btn {
    padding: 11px 32px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid rgba(52, 61, 86, 1);
    border-radius: 8px;
    opacity: 1;
    background-color: transparent;
    letter-spacing: 0px;
    color: #031926;
    font-weight: 600;
    font-family: 'Eina-SemiBold';
    background-image: none;
    margin-right: 16px;
    display: inline-block;
    padding-bottom: 12px;
}

div#add-practice-popup .form-button a.for-btn:hover {
    background: #343D560D;
}

div#add-practice-popup .form-button a.for-btn.btn-blue {
    margin-right: 0;
    background: #03c6d8 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    border-color: #03C6D8;
    color: #fff;
}

div#add-practice-popup .form-button a.for-btn.btn-blue:hover {
    background: #03D0E3;
    border-color: #03D0E3 !important;
}

.custom-file-inputl {
    pointer-events: none;
}
.custom-file-inputl::before {
    content: 'Upload Image';
    display: inline-block;
    padding: 11px 22px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
    border: 1px solid #343D56;
    border-radius: 16px;
    opacity: 1;
    font-family: 'Eina-SemiBold';
}

.gernal-profile.custom-edit-pp.technical-information-group.active-technical {
    display: none;
}

#add-technical-form-group .form-button .loader,
#add-practice-popup .form-button .loader {
    right: 8px;
    top: 10px;
}

div#add-practice-popup .form-button {
    margin-top: 32px;
}

#add-technical-group {
    max-height: initial;
    overflow: inherit;
}

.edit-profile.edit-practice {
    height: 598px;
    position: relative;
    padding-left: 0;
    padding-right: 10px;
}

.tabber-wrap.blog-tabber {
    margin-top: 212px;
    /* max-height: 221px; */
    background-color: #fff;
    margin-bottom: 0;
}

.tabber-content {
    margin-top: 0;
    border-top: 0;
}

.tabber-wrap.blog-tabber > ul {
    padding-bottom: 24px;
    top: 191px;
}

div#tab-1 .gernal-profile-form .form-button,
div#tab-0 .gernal-profile-form .form-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 40px 35px 40px;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 10px;
}

.tabber-content {
    max-height: 266px;
}

div#add-practice-popup .form-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 40px 35px 40px;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 10px;
}

/*

div#add-practice-popup .form-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 40px 35px 40px;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 10px;
}

div#add-practice {
    max-height: 598px;
}

.upload-scroll-fixed {
    margin-top: 97px;
    overflow-y: auto;
    max-height: 332px;
    margin-bottom: 52px;
    padding: 0px 24px 0px 40px;
}

*/

div#add-practice {
    max-height: 598px;
    padding: 32px 40px 35px 40px;
}

.adduser-wrapper-scroll-fixed {
    position: static;
    padding: 0;
}

.upload-scroll-fixed.layout-cell.layout-scrollbar {
    margin-top: 0;
    overflow-y: auto;
    max-height: unset;
    margin-bottom: 0;
    padding: 0;
}

div#add-practice-popup .form-button {
    position: relative;
    padding: 0;
}

div#add-technical-group {
    max-height: 598px;
    padding: 32px 40px 35px 40px;
}

.gernal-profile-form .form-button {
    position: relative;
    padding: 0;
}

span#basic-log {
    opacity: 1;
    color: #363F57;
}

.form-field.custom-color-input.input-color1.custom-filled {
    color: #363F57;
    opacity: 1;
}

span#basic-log {
    opacity: 1;
    color: #363F57;
}

.form-field.custom-color-input.input-color1.custom-filled {
    color: #363F57;
    opacity: 1;
}

.sp-initial-disabled .sp-input-container {
    display: none !important;
}

.sp-container {
    width: 255px !important;
    border-radius: 8px;
}

.sp-picker-container {
    padding: 16px !important;
}

.sp-top.sp-cf {
    margin: 0 !important;
}

.sp-top-inner .sp-hue {
    left: 86%;
}

ul.email-provider-g {
    display: block;
}

.form-field .form-option-wrapper.custom-filled label.form-label {
    font-size: 11px;
    line-height: 15px;
    color: #363F57;
    opacity: 0.5;
    left: 12px;
    top: 6px;
    transition: all 0.2s ease;
}

.feature-access-wrapper > ul>li>span:not(.list-name),
.adduser-wrapper > ul>li>span:not(.list-name) {
	background: #EFF5F6 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 38px;
	height: 38px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-right: 8px;
	font-size: 16px;
	line-height: 22px;
	color: #343D56;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Eina-Bold';
}

.feature-access-wrapper > ul>li, .adduser-wrapper > ul > li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.feature-access-wrapper > ul>li:first-child, .adduser-wrapper > ul>li:first-child {
    margin-right: 16px;
}

.feature-access-wrapper > ul > li > span:not(.list-name), .adduser-wrapper > ul>li>span:not(.list-name) {
    background: #EFF5F6 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 38px;
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 8px;
    font-size: 16px;
    line-height: 22px;
    color: #343D56;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Eina-Bold';
}

ul.email-provider-g li {
    margin: 0 !important;
}

ul.email-provider-g li span {
    width: auto !important;
    display: inline-block !important;
    background-color: transparent !important;
    height: auto !important;
    color: #343D56 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    font-family: 'Eina' !important;
    text-transform: unset !important;
}

.uploadImg2 {
    cursor: pointer;
}
h3#inputState1,
#inputState {
    margin-bottom: 0 !important;
    letter-spacing: 0px;
    color: #363F57;
    opacity: 1;
    font-size: 13px;
    line-height: 18px;
    font-family: 'Eina-SemiBold';
}
/*
#add-practice-popup div#state-wrapper-group-1 {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 12px;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    background: #ffffff 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 0px 16px 32px #343d5633;
    box-shadow: 0px 16px 32px #343d5633;
    border-radius: 8px;
    padding: 8px;
    z-index: 99;
    max-height: 250px;
    width: 158px;
    display: none;
}*/

#add-practice-popup ul#state-name {
    display: block;
}
#add-practice-popup ul#state-name li {
    padding: 10px 8px;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 0px;
    color: #343D56;
    opacity: 1;
    font-size: 12px;
    line-height: 16px;
	margin-right: 0 !important;
    font-family: 'Eina';
}

.upload-scroll-fixed.layout-cell.layout-scrollbar {
    overflow-y: unset !important;
}
.sp-val {
    border-radius: 4px !important;
}

#add-practice-popup ul#state-name li {
    transition: all .5s;
}

#add-practice-popup ul#state-name li:hover {
    background-color: rgb(243 244 246 / 50%);
}

div#state-wrapper-group-2,
div#state-wrapper-group-1 {
    position: absolute;
    bottom: calc(100% + 6px);
    left: 0;
    margin-top: 12px;
    width: 100%;
    overflow-y: auto;
    background: #ffffff 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 0px 16px 32px #343d5633;
    box-shadow: 0px 16px 32px #343d5633;
    border-radius: 8px;
    padding: 8px;
    z-index: 99;
    max-height: 200px;
    width: 158px;
    display: none;
}

div#state-wrapper-group-2 ul,
div#state-wrapper-group-1 ul {
    display: block;
}

div#state-wrapper-group-2 ul li,
div#state-wrapper-group-1 ul li {
    padding: 10px 8px;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 0px;
    color: #343D56;
    opacity: 1;
    font-size: 12px;
    line-height: 16px;
    margin-right: 0 !important;
    font-family: 'Eina';
    transition: all 0.5s;
    width: 100%;
}

div#state-wrapper-group-2 ul li:hover,
div#state-wrapper-group-1 ul li:hover {
    background-color: rgb(243 244 246 / 50%);
}

div#add-practice-popup .feild-3.feild .form-field.state-lavel:after,
.form-field.custom-filled.state-label:after {
    content: "";
    position: absolute;
    background-image: url(../assets/icons/common/chevron-down.svg);
    padding: 0;
    right: 16.5px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform-origin: center;
    transform-origin: center;
    top: 24px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px;
    height: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.form-field .form-option-wrapper h4 span.email-names {
    font-family: 'Eina-SemiBold';
}

input.basiclog:focus {
    background: transparent;
}

.sp-input-container.sp-cf {
    display: none;
}

.sp-initial.sp-thumb.sp-cf {
    display: none;
}

.sp-clear.sp-clear-display {
    display: none !important;
}

.sp-clear-enabled .sp-hue {
    top: 0px;
    height: 100%;
}

.edit-profile.edit-practice #tab-1 .form-button .loader,
.edit-profile.edit-practice #tab-0 .form-button .loader {
    right: 40px;
    top: 19px;
}


div#add-practice-popup .feild-3.feild .form-field.activeted.state-lavel:after, 
.form-field.activeted.custom-filled.state-label:after {
    -webkit-transform: rotate(
        180deg
        );
            transform: rotate(
        180deg
        );
            margin-top: -3px;
}

.form-field.custom-filled.state-label.activeted h3#inputState,
.form-field.state-lavel.custom-filled.activeted .custom-input .form-control {
    border: 2px solid #0ACADC;
}

div#state-wrapper-group-2, div#state-wrapper-group-1 {
    max-height: 191px;
    padding: 3px;
    padding-right: 2px;
}

ul#state-name,
ul#state-name {
    padding: 5px;
    padding-right: 2px;
}

#state-wrapper-group-2 ul,
div#state-wrapper-group-1 ul {
    overflow-y: auto;
    max-height: 175px;
}

#state-wrapper-group-2,
div#state-wrapper-group-1 {
    overflow-y: unset;
}

#social-media-group,
#social-media-group-1 {
    padding-top: 8px;
}

#social-media-group h6,
#social-media-group-1 h6 {
    letter-spacing: 0px;
    color: #031926;
    opacity: 1;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Eina-Bold';
    margin-bottom: 16px;
}

span.facebook-icon {
    background: url(../assets/icons/facebook.svg);
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    right: 16px;
    top: 14px;
    background-position: center;
}

span.linkedin-icon {
    background: url(../assets/icons/linkedin.svg);
    width: 15px;
    height: 16px;
    display: block;
    position: absolute;
    right: 16px;
    top: 14px;
    background-position: center;
}

span.twitter-icon {
    background: url(../assets/icons/twitter.svg);
    width: 16px;
    height: 13px;
    display: block;
    position: absolute;
    right: 16px;
    top: 16px;
    background-position: center;
}

span.instagram-icon {
    background: url(../assets/icons/Instagram.svg);
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    right: 16px;
    top: 14px;
    background-position: center;
}

#social-media-group .form-control,
#social-media-group-1 .form-control {
    padding-right: 46px;
}

.sp-container,
.sp-container.sp-light.sp-alpha-enabled.sp-clear-enabled.sp-palette-buttons-disabled.awesome4 {
    top: -219.6px !important;
}

.color-arrow-icon {
    background-repeat: no-repeat;
    -webkit-appearance: none;
    background-image: url(../assets/icons/color-droup.svg);
    background-size: cover;
    transition: all .5s;
    display: block;
    content: "";
    height: 5px;
    width: 8px;
    right: 16px;
    top: 20px;
    position: absolute;
    background-size: 8px 5px;
}

.form-field.custom-color-input.input-color1.custom-filled.show-color .color-arrow-icon {
    -webkit-transform: rotate(
        180deg
        );
            transform: rotate(
        180deg
        );
            margin-top: -3px;
}

div#add-technical-info {
    overflow-y: auto;
    max-height: 422.6px;
    padding-bottom: 53px;
    padding-left: 40px;
    margin-right: 10px;
}

#add-technical-group #add-technical-form-group .form-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 40px 35px 40px;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 10px;
}

#add-technical-group > ul {
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
}

div#add-technical-group {
    padding-left: 0;
    padding-right: 0;
}

#add-technical-form-group {
    padding-right: 24px;
}

#add-technical-group h3 {
    padding-left: 40px;
    padding-right: 40px;
}

#add-technical-form-group .form-button .loader {
    right: 48px;
    top: 19px;
}

div#state-wrapper-group-2 {
    max-height: 250px;
}

#state-wrapper-group-2 ul {
    max-height: 234px;
}

.tabber-content {
    max-height: 351px;
    padding-bottom: 85px;
}

#state-wrapper-group-2 ul {
    padding: 0;
    padding-right: 2px;
}

div#state-wrapper-group-2 {
    max-height: 250px;
    padding: 8px;
    padding-right: 2px;
    bottom: auto;
    top: calc(100% + -6px);
}

div#state-wrapper-group-1 {
    max-height: 250px;
    top: calc(100% + -6px);
    bottom: auto;
    padding: 8px;
    padding-right: 2px;
}

div#state-wrapper-group-1 ul {
    max-height: 244px;
    padding: 0;
    padding-right: 2px;
}

div#tab-0 {
    padding-right: 31px;
}

.tabber-content {
    max-height: 351px;
    padding-bottom: 85px;
    padding-right: 0;
    overflow-y: visible !important;
}

div#tab-1 {
    overflow-y: auto;
    max-height: 330px;
    padding-right: 25px;
    padding-bottom: 84px;
}

div#tab-0 {
    padding-right: 31px;
}

.sp-container {
    top: 52px !important;
}

div#add-technical-info {
    overflow-y: auto;
    max-height: 455.6px;
    padding-bottom: 85.5px;
    padding-left: 40px;
    margin-right: 10px;
}

.sp-container, .sp-container.sp-light.sp-alpha-enabled.sp-clear-enabled.sp-palette-buttons-disabled.awesome4 {
    top: 52px !important;
}
